
a:hover {
  color: purple;
  background-color: #ffffcc;
}

a {
  color: white;
}

body {
  background-image: url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  color: #ff0066;
  text-align: left;
  font-size: 24px;
  text-decoration: underline;
}

.announcement-section {
  color: red;
  text-align: center;
  background-color: yellow;
}

.announcement-section {
  width: 80%;
  border: 15px solid white;
  padding: 15px;
  margin: auto;
  background-color: #ccffcc;
}

.report-concerns-section {
  color: blue;
  text-align: center;
  background-color: lightblue;
  width: 80%;
  border: 15px solid white;
  padding: 15px;
  margin: auto;
}

.oaw-subjects {
  width: 80%;
  border: 15px solid white;
  padding: 15px;
  margin: auto;
  background-color: #ffff99;
}

.subject-content::first-letter {
    color: purple;
    font-size: x-large;
}

img {
    border-radius: 50%;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
    display: inline-block;
    margin-right: -4px;
    padding-right: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 40px;
    height: 40px;

  }
